<!-- devices.component.html -->

<div class="container">
    <div class="grafana">
      <!-- Add Grafana content here -->
    </div>
  
    <div class="devices">
      <div class="machine-select">
        <p>Select a PI:</p>
        <select [(ngModel)]="selectedPi" (change)="updateDevicesList()">
          <option value="PI1">PI1</option>
          <option value="PI2">PI2</option>
          <option value="PI3">PI3</option>
          <!-- Add more Raspberry Pi options as needed -->
        </select>
      </div>
      
      <div class="devices-list">
        <div class="device-card" *ngFor="let device of devicesList">
          <p>{{ device.name }}</p>
          <ng-container *ngFor="let info of device.info">
            <p>{{ info }}</p>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
  